.error-page {
  width: 100%;
  margin: auto;
  text-align: center;
}

.error-page h1,
.error-page p {
  padding-top: 1em;
  margin: auto;
}

.error-page textarea {
  margin: auto;
  margin-top: 2em;
  width: 600px;
  height: 400px;
}
