.page-scroller {
  width: 100vw;
  grid-area: pages;
  display: block;
  overflow: hidden;
}

.page-scroller-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.page-scroller .page,
.page-scroller .blank-page {
  flex: none;
  position: sticky;
  left: 0;
  top: 0;
}
