.tab-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab-link img {
  display: inline;
  width: 1em;
  margin-right: 0.5em;
  padding-bottom: 4px;
  vertical-align: middle;
}

.tab-link button {
  color: var(--text-1);
  outline-offset: -5px;
}

.tab-link button:focus-visible {
  outline-offset: 0px;
}

.tab-link button:hover {
  text-decoration: underline;
}
