.page.collapsed {
  padding: 12px;
  width: 4em;
  height: 100%;

  box-shadow: var(--shadow-5);
}

/* if we are in light mode, made the shadow more pronounced */
@media (prefers-color-scheme: light) {
  .page.collapsed {
    box-shadow: var(--shadow-6);
  }
}

.page.collapsed svg {
  margin: auto;
  padding-top: 8px;
}

.page.collapsed h1 span {
  display: inline-block;
  text-align: center;
  transform-origin: 100% 100%;
  white-space: nowrap;
  width: 80vh;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: rotate(-90deg) translateY(calc(1em - 80vh));
}

.page.collapsed button {
  background: inherit;
  padding: 0px;
}
