.page.expanded {
  width: 535px;
  height: 100%;
  padding: 1em;
  box-shadow: var(--shadow-5);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* if we are in light mode, made the shadow more pronounced */
@media (prefers-color-scheme: light) {
  .page.expanded {
    box-shadow: var(--shadow-6);
  }
}

.page.expanded h1 {
  max-inline-size: none; /* unset open-props limit on h1 size */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page.expanded ul {
  height: 45vh;
  overflow: overlay;
  padding: 0;
}

.page.expanded textarea {
  font-size: 1.4em;
  height: 100%;
}

.page.expanded button {
  background: inherit;
}
