.page {
  width: 535px;
  padding: 1em;
  box-shadow: var(--shadow-5);
  background: var(--surface-1);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* if we are in light mode, made the shadow more pronounced */
@media (prefers-color-scheme: light) {
  .page {
    box-shadow: var(--shadow-6);
  }
}

.page h1 {
  max-inline-size: none; /* unset open-props limit on h1 size */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page ul {
  height: 30vh;
  overflow: overlay;
  padding: 0;
}

.page textarea {
  font-size: 1.4em;
  height: 100%;
}

.page button {
  background: inherit;
  padding: 0px;
}
