/* animation for collapsing the page to a collapsed-page */
@keyframes collapsing {
  0% {
    width: 535px;
    margin-right: 0px;
  }

  100% {
    width: 0em;
    /* account for 12px of padding that need to be overlapped, and then some */
    margin-right: -48px;
  }
}

/* set the page elements to not squeeze as we animate the page getting smaller */
.page.expanded.animating h1,
.page.expanded.animating ul,
.page.expanded.animating textarea {
  /* account for 24px of padding here */
  width: calc(535px - 24px);
}
.page.collapsed.animating h1 {
  width: 80vh;
}
.page.collapsing {
  animation: collapsing 0.8s;
}

/* start from where collapse ended */
@keyframes uncollapse {
  0% {
    width: 0px;
    margin-right: -48px;
  }

  100% {
    width: 4em;
    margin-right: 0px;
  }
}

.page.collapsed.collapsing {
  animation: uncollapse 0.3s;
}

/* animation for expanding the collapsed-page to a page */
.page.collapsed.expanding {
  animation: uncollapse 0.3s reverse;
}

.page.expanded.expanding {
  animation: collapsing 0.8s reverse;
}
