@import "../node_modules/open-props/open-props.min.css";
@import "../node_modules/open-props/normalize.min.css";

:root {
  font-family: "Poppins", sans-serif;
  font-size: calc(10px + 2vmin);
  color-scheme: dark light;
}

body,
#root,
#root div {
  margin: 0px;
  height: 100vh;
}
