@import "../node_modules/open-props/open-props.min.css";
@import "../node_modules/open-props/normalize.min.css";

body {
  font-family: "Poppins", sans-serif;
}

/* tone down the header sizes */
h1 {
  font-size: var(--font-size-5);
}

/* set the margin and height so that page takes full width */
body,
#root,
#root div {
  margin: 0px;
  height: 100vh;
}
